
## Test Results for yhannineh

### Playwright
- Total tests: 20
- Passed tests: 20

### LightHouse

- Performance score: 97
- Accessibility score: 91
- Best practices score: 100
- SEO score: 100
- Average Lighthouse score: 97
