:root {
    --background-color: #E9E9E9;
    --primary-color: #203850;
    --secondary-color: #732238;
    --button-color: #B9C0CE;

    --font-primary: 'Playfair Display', sans-serif;
    --font-secondary: 'Oswald', sans-serif;

    
}